body {
  background-color: #fbfbf6;
  padding: 1em;
  -webkit-hyphens: auto;
          hyphens: auto;
}

p {
  font-size: calc(var(--p-font-size-max) * 1.25rem);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 1em 1em;
  margin: 0 auto;
}

.content {
  grid-column: 2/6;
  grid-row: 1/10;
  padding: 1em;
}

h1 {
  --h1-line-height-min: .75;
  --h1-font-size-min: 10;
  --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
  --text-ital: 0;
  color: #e65f1d;
  text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.8);
  font-family: 'Marvin Visions', Helvetica, Arial, sans-serif;
  font-size: calc( var(--h1-font-size-min) * 1.25rem);
  line-height: var(--h1-line-height-min);
  max-width: 50rem;
}

@media screen and (min-width: 24.15em) {
  h1 {
    -webkit-hyphens: auto;
            hyphens: auto;
    line-height: calc(( var(--h1-font-size-min) * 1rem) + ( var(--h1-line-height-min) - var(--h1-line-height-min)) * ((100vw - ( var(--bp-small) * 1rem)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h1-font-size-min) * 1rem) + ( var(--h1-font-size-min) - var(--h1-font-size-min)) * ((100vw - ( var(--bp-small) * 1rem)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h1 {
    -webkit-hyphens: auto;
            hyphens: auto;
    --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-m));
  }
}

@media screen and (min-width: 60.25em) {
  h1 {
    -webkit-hyphens: none;
            hyphens: none;
    --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-l));
    line-height: var(--h1-line-height-min);
  }
}

@media (min-width: 75em) {
  h1 {
    font-size: calc( var(--h1-font-size-min) * 1rem);
    line-height: var(--h1-line-height-min);
  }
}

h2 {
  --h2-line-height-min: 1;
  --h2-font-size-min: 8;
  --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
  --text-ital: 0;
  -webkit-hyphens: none;
          hyphens: none;
  font-family: 'Marvin Visions', Helvetica, Arial, sans-serif;
  font-size: calc( var(--h2-font-size-min) * 1rem);
  line-height: var(--h2-line-height-min);
  /* Set --text-wght value multiplier */
  --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-s));
  --text-ital: 0;
  font-family: "Marvin Visions", Helvetica, Arial, sans-serif;
  font-size: calc( var(--h2-font-size-min) * 1em);
  line-height: var(--h2-line-height-min);
}

@media screen and (min-width: 24.15em) {
  h2 {
    line-height: calc(( var(--h2-line-height-min) * 1em) + ( var(--h2-line-height-max) - var(--h2-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h2-font-size-min) * 1em) + ( var(--h2-font-size-max) - var(--h2-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h2 {
    --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-m));
  }
}

@media (min-width: 75em) {
  h2 {
    --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-l));
    font-size: calc( var(--h2-font-size-max) * 1em);
    line-height: var(--h2-line-height-max);
  }
}

p:not(:first-of-type) {
  text-indent: 2em;
}

@media (max-width: 50rem) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 1em 1em;
    margin: 0 auto;
  }
  .content {
    grid-column: 1/4;
    padding: 1em;
  }
  .float-left {
    float: none;
  }
  blockquote {
    font-size: 1rem;
    line-height: 1.2;
  }
  p {
    font-size: calc(var(--p-font-size-max) * 1rem);
  }
}

/*# sourceMappingURL=demo34.css.map */

/*# sourceMappingURL=demo34.css.map */

/*# sourceMappingURL=demo34.css.map */
