@font-face {
  font-family: 'NeueMontreal';
  src: url("../../fonts/NeueMontreal-Bold.woff2") format("woff2"), url("../../fonts/NeueMontreal-Bold.woff") format("woff");
  font-display: swap;
}

/* Set custom properties for each layout feature */
:root {
  /* Breakpoint variables */
  --bp-small: 24.15;
  --bp-medium: 43.75;
  --bp-large: 60.25;
  --bp-xlarge: 75;
  /* Paragraph variables */
  --p-line-height-min: 1.15;
  --p-line-height-max: 1.5;
  --p-font-size-min: 1.0;
  --p-font-size-max: 1.25;
  --p-vf-wght: var(--text-wght);
  /* H1 variables */
  --h1-line-height-min: 1.05;
  --h1-line-height-max: 1.1;
  --h1-font-size-min: 3;
  --h1-font-size-max: 6;
  --h1-vf-wght-multiplier-s: .33;
  --h1-vf-wght-multiplier-m: .33;
  --h1-vf-wght-multiplier-l: .33;
  /* H2 variables */
  --h2-line-height-min: 1.15;
  --h2-line-height-max: 1.25;
  --h2-font-size-min: 1.75;
  --h2-font-size-max: 2.5;
  --h2-vf-wght-multiplier-s: 1.25;
  --h2-vf-wght-multiplier-m: 1.5;
  --h2-vf-wght-multiplier-l: 1.75;
  /* H3 variables */
  --h3-line-height-min: 1.15;
  --h3-line-height-max: 1.25;
  --h3-font-size-min: 1.75;
  --h3-font-size-max: 2.5;
  --h3-vf-wght-multiplier-s: .5;
  --h3-vf-wght-multiplier-m: .5;
  --h3-vf-wght-multiplier-l: .5;
  /* Dropcap variables */
  --dc-line-height-min: .9;
  --dc-line-height-max: .95;
  --dc-font-size-min: 2.7;
  --dc-font-size-max: 5.25;
  /* Blockquote variables */
  --bq-line-height-min: 1.1;
  --bq-line-height-max: 1.1;
  --bq-font-size-min: 2.7;
  --bq-font-size-max: 5;
  --skolar-latin-aalt: "aalt" off;
  --skolar-latin-c2sc: "c2sc" off;
  --skolar-latin-case: "case" off;
  --skolar-latin-dlig: "dlig" off;
  --skolar-latin-dnom: "dnom" off;
  --skolar-latin-frac: "frac" off;
  --skolar-latin-hist: "hist" off;
  --skolar-latin-lnum: "lnum" off;
  --skolar-latin-numr: "numr" off;
  --skolar-latin-onum: "onum" off;
  --skolar-latin-ordn: "ordn" off;
  --skolar-latin-ornm: "ornm" off;
  --skolar-latin-pnum: "pnum" off;
  --skolar-latin-salt: "salt" off;
  --skolar-latin-sinf: "sinf" off;
  --skolar-latin-smcp: "smcp" off;
  --skolar-latin-ss01: "ss01" off;
  --skolar-latin-ss02: "ss02" off;
  --skolar-latin-ss03: "ss03" off;
  --skolar-latin-ss04: "ss04" off;
  --skolar-latin-ss05: "ss05" off;
  --skolar-latin-ss06: "ss06" off;
  --skolar-latin-ss14: "ss14" off;
  --skolar-latin-ss15: "ss15" off;
  --skolar-latin-subs: "subs" off;
  --skolar-latin-sups: "sups" off;
  --skolar-latin-tnum: "tnum" off;
  --skolar-latin-zero: "zero" off;
  --skolar-latin-cpsp: "cpsp" off;
  --neue-montreal-bold-aalt: "aalt" off;
  --neue-montreal-bold-salt: "salt" off;
}

/* Copy font */
/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.skolar-latin-aalt {
  --skolar-latin-aalt: "aalt" on;
}

.skolar-latin-c2sc {
  --skolar-latin-c2sc: "c2sc" on;
}

.skolar-latin-case {
  --skolar-latin-case: "case" on;
}

.skolar-latin-dlig {
  --skolar-latin-dlig: "dlig" on;
}

@supports (font-variant-ligatures: discretionary-ligatures) {
  .skolar-latin-dlig {
    --skolar-latin-dlig: "____";
    font-variant-ligatures: discretionary-ligatures;
  }
}

.skolar-latin-dnom {
  --skolar-latin-dnom: "dnom" on;
}

.skolar-latin-frac {
  --skolar-latin-frac: "frac" on;
}

@supports (font-variant-numeric: diagonal-fractions) {
  .skolar-latin-frac {
    --skolar-latin-frac: "____";
    font-variant-numeric: diagonal-fractions;
  }
}

.skolar-latin-hist {
  --skolar-latin-hist: "hist" on;
}

@supports (font-variant-alternates: historical-forms) {
  .skolar-latin-hist {
    --skolar-latin-hist: "____";
    font-variant-alternates: historical-forms;
  }
}

.skolar-latin-lnum {
  --skolar-latin-lnum: "lnum" on;
}

@supports (font-variant-numeric: lining-nums) {
  .skolar-latin-lnum {
    --skolar-latin-lnum: "____";
    font-variant-numeric: lining-nums;
  }
}

.skolar-latin-numr {
  --skolar-latin-numr: "numr" on;
}

.skolar-latin-onum {
  --skolar-latin-onum: "onum" on;
}

@supports (font-variant-numeric: oldstyle-nums) {
  .skolar-latin-onum {
    --skolar-latin-onum: "____";
    font-variant-numeric: oldstyle-nums;
  }
}

.skolar-latin-ordn {
  --skolar-latin-ordn: "ordn" on;
}

@supports (font-variant-numeric: ordinal) {
  .skolar-latin-ordn {
    --skolar-latin-ordn: "____";
    font-variant-numeric: ordinal;
  }
}

.skolar-latin-ornm {
  --skolar-latin-ornm: "ornm" on;
}

.skolar-latin-pnum {
  --skolar-latin-pnum: "pnum" on;
}

@supports (font-variant-numeric: proportional-nums) {
  .skolar-latin-pnum {
    --skolar-latin-pnum: "____";
    font-variant-numeric: proportional-nums;
  }
}

.skolar-latin-salt {
  --skolar-latin-salt: "salt" on;
}

.skolar-latin-sinf {
  --skolar-latin-sinf: "sinf" on;
}

.skolar-latin-smcp {
  --skolar-latin-smcp: "smcp" on;
}

@supports (font-variant-caps: small-caps) {
  .skolar-latin-smcp {
    --skolar-latin-smcp: "____";
    font-variant-caps: small-caps;
  }
}

.skolar-latin-ss01 {
  --skolar-latin-ss01: "ss01" on;
}

.skolar-latin-ss02 {
  --skolar-latin-ss02: "ss02" on;
}

.skolar-latin-ss03 {
  --skolar-latin-ss03: "ss03" on;
}

.skolar-latin-ss04 {
  --skolar-latin-ss04: "ss04" on;
}

.skolar-latin-ss05 {
  --skolar-latin-ss05: "ss05" on;
}

.skolar-latin-ss06 {
  --skolar-latin-ss06: "ss06" on;
}

.skolar-latin-ss14 {
  --skolar-latin-ss14: "ss14" on;
}

.skolar-latin-ss15 {
  --skolar-latin-ss15: "ss15" on;
}

.skolar-latin-subs {
  --skolar-latin-subs: "subs" on;
}

@supports (font-variant-position: sub) {
  .skolar-latin-subs {
    --skolar-latin-subs: "____";
    font-variant-position: sub;
  }
}

.skolar-latin-sups {
  --skolar-latin-sups: "sups" on;
}

@supports (font-variant-position: super) {
  .skolar-latin-sups {
    --skolar-latin-sups: "____";
    font-variant-position: super;
  }
}

.skolar-latin-tnum {
  --skolar-latin-tnum: "tnum" on;
}

@supports (font-variant-numeric: tabular-nums) {
  .skolar-latin-tnum {
    --skolar-latin-tnum: "____";
    font-variant-numeric: tabular-nums;
  }
}

.skolar-latin-zero {
  --skolar-latin-zero: "zero" on;
}

@supports (font-variant-numeric: slashed-zero) {
  .skolar-latin-zero {
    --skolar-latin-zero: "____";
    font-variant-numeric: slashed-zero;
  }
}

.skolar-latin-cpsp {
  --skolar-latin-cpsp: "cpsp" on;
}

/* Apply current state of all custom properties
   whenever a class is being applied */
.skolar-latin-aalt,
.skolar-latin-c2sc,
.skolar-latin-case,
.skolar-latin-dlig,
.skolar-latin-dnom,
.skolar-latin-frac,
.skolar-latin-hist,
.skolar-latin-lnum,
.skolar-latin-numr,
.skolar-latin-onum,
.skolar-latin-ordn,
.skolar-latin-ornm,
.skolar-latin-pnum,
.skolar-latin-salt,
.skolar-latin-sinf,
.skolar-latin-smcp,
.skolar-latin-ss01,
.skolar-latin-ss02,
.skolar-latin-ss03,
.skolar-latin-ss04,
.skolar-latin-ss05,
.skolar-latin-ss06,
.skolar-latin-ss14,
.skolar-latin-ss15,
.skolar-latin-subs,
.skolar-latin-sups,
.skolar-latin-tnum,
.skolar-latin-zero,
.skolar-latin-cpsp {
  font-feature-settings: var(--skolar-latin-aalt), var(--skolar-latin-c2sc), var(--skolar-latin-case), var(--skolar-latin-dlig), var(--skolar-latin-dnom), var(--skolar-latin-frac), var(--skolar-latin-hist), var(--skolar-latin-lnum), var(--skolar-latin-numr), var(--skolar-latin-onum), var(--skolar-latin-ordn), var(--skolar-latin-ornm), var(--skolar-latin-pnum), var(--skolar-latin-salt), var(--skolar-latin-sinf), var(--skolar-latin-smcp), var(--skolar-latin-ss01), var(--skolar-latin-ss02), var(--skolar-latin-ss03), var(--skolar-latin-ss04), var(--skolar-latin-ss05), var(--skolar-latin-ss06), var(--skolar-latin-ss14), var(--skolar-latin-ss15), var(--skolar-latin-subs), var(--skolar-latin-sups), var(--skolar-latin-tnum), var(--skolar-latin-zero), var(--skolar-latin-cpsp);
}

/* NEUE MONTREAL */
/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.neue-montreal-bold-aalt {
  --neue-montreal-bold-aalt: "aalt" on;
}

.neue-montreal-bold-salt {
  --neue-montreal-bold-salt: "salt" on;
}

/* Apply current state of all custom properties
   whenever a class is being applied */
.neue-montreal-bold-aalt,
.neue-montreal-bold-salt {
  font-feature-settings: var(--neue-montreal-bold-aalt), var(--neue-montreal-bold-salt);
}

.clear {
  clear: both;
}

html {
  box-sizing: border-box;
  background-color: #fbfbf6;
  color: #3c3d31;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:link {
  color: #555577;
  text-decoration: underline;
}

a:visited {
  color: #555577;
  text-decoration: underline;
}

a:hover {
  color: #bb4444;
}

img {
  height: auto;
  width: 100%;
}

h2 + p {
  margin-top: 1em;
}

body {
  font-family: "skolar-latin", serif;
  font-weiget: normal;
  font-style: normal;
}

div,
p,
th,
td,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figcaption,
cite,
i,
em,
b,
strong,
button,
p:first-line,
p:first-letter {
  font-family: "skolar-latin", serif;
  font-weight: normal;
  font-style: normal;
}

p {
  transition: all linear 0.2s;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

/* Variations and variables */
p {
  font-size: calc(var(--p-font-size-max) * 1.25rem);
  line-height: var(--p-line-height-min);
}

@media screen and (min-width: 24.15em) {
  p {
    line-height: calc(( var(--p-line-height-min) * 1em) + ( var(--p-line-height-max) - var(--p-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-large) - var(--bp-small))));
  }
}

@media (min-width: 60.25em) {
  p {
    font-size: calc(( var(--p-font-size-min) * 1em) + ( var(--p-font-size-max) - var(--p-font-size-min)) * ((100vw - ( var(--bp-large) * 1em)) / ( var(--bp-xlarge) - var(--bp-large))));
    line-height: var(--p-line-height-max);
  }
}

@media (min-width: 75em) {
  p {
    font-size: calc( var(--p-font-size-max) * 1em);
  }
}

/* Generic header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: NeueMontreal, sans-serif;
  font-weight: normal;
  transition: all linear 0.2s;
  --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
}

h1 {
  /* Set --text-wght value multiplier */
  --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
  --text-ital: 0;
  font-family: NeueMontreal, sans-serif;
  font-size: calc( var(--h1-font-size-min) * 1em);
  line-height: var(--h1-line-height-min);
}

@media screen and (min-width: 24.15em) {
  h1 {
    line-height: calc(( var(--h1-line-height-min) * 1em) + ( var(--h1-line-height-max) - var(--h1-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h1-font-size-min) * 1em) + ( var(--h1-font-size-max) - var(--h1-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h1 {
    --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-m));
  }
}

@media screen and (min-width: 60.25em) {
  h1 {
    --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-l));
    line-height: var(--h1-line-height-max);
  }
}

@media (min-width: 75em) {
  h1 {
    font-size: calc( var(--h1-font-size-max) * 1em);
    line-height: var(--h1-line-height-max);
  }
}

h2 {
  /* Set --text-wght value multiplier */
  --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-s));
  --text-ital: 0;
  font-family: NeueMontreal, sans-serif;
  font-size: calc( var(--h2-font-size-min) * 1em);
  line-height: var(--h2-line-height-min);
}

@media screen and (min-width: 24.15em) {
  h2 {
    line-height: calc(( var(--h2-line-height-min) * 1em) + ( var(--h2-line-height-max) - var(--h2-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h2-font-size-min) * 1em) + ( var(--h2-font-size-max) - var(--h2-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h2 {
    --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-m));
  }
}

@media (min-width: 75em) {
  h2 {
    --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-l));
    font-size: calc( var(--h2-font-size-max) * 1em);
    line-height: var(--h2-line-height-max);
  }
}

h3 {
  /* Set --text-wght value multiplier */
  --text-wght: calc( var(--p-vf-wght) * var(--h3-vf-wght-multiplier-s));
  --text-ital: 1;
  font-family: NeueMontreal, sans-serif;
  font-size: calc( var(--h2-font-size-min) * 1em);
  line-height: var(--h2-line-height-min);
  text-align: center;
}

@media screen and (min-width: 24.15em) {
  h3 {
    line-height: calc(( var(--h3-line-height-min) * 1em) + ( var(--h3-line-height-max) - var(--h3-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h3-font-size-min) * 1em) + ( var(--h3-font-size-max) - var(--h3-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h3 {
    --text-wght: calc( var(--p-vf-wght) * var(--h3-vf-wght-multiplier-m));
  }
}

@media (min-width: 75em) {
  h3 {
    --text-wght: calc( var(--p-vf-wght) * var(--h3-vf-wght-multiplier-l));
    font-size: calc( var(--h3-font-size-max) * 1em);
    line-height: var(--h3-line-height-max);
  }
}

/*# sourceMappingURL=typography-demo31.css.map */
