@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700");
:root {
  /* Breakpoint variables */
  --bp-small: 24.15;
  --bp-medium: 43.75;
  --bp-large: 60.25;
  --bp-xlarge: 75;
  /* initial values ital */
  --text-wght: 350;
  --text-ital: 0;
  /* Paragraph variables */
  --p-line-height-min: 1.15;
  --p-line-height-max: 1.5;
  --p-font-size-min: 1.0;
  --p-font-size-max: 1.25;
  --p-vf-wght: var(--text-wght);
  /* H1 variables */
  --h1-line-height-min: 1.05;
  --h1-line-height-max: 1.1;
  --h1-font-size-min: 3;
  --h1-font-size-max: 6;
  --h1-vf-wght-multiplier-s: .33;
  --h1-vf-wght-multiplier-m: .33;
  --h1-vf-wght-multiplier-l: .33;
  /* H2 variables */
  --h2-line-height-min: 1.15;
  --h2-line-height-max: 1.25;
  --h2-font-size-min: 1.75;
  --h2-font-size-max: 2.5;
  --h2-vf-wght-multiplier-s: 1.25;
  --h2-vf-wght-multiplier-m: 1.5;
  --h2-vf-wght-multiplier-l: 1.75;
  /* H3 variables */
  --h3-line-height-min: 1.15;
  --h3-line-height-max: 1.25;
  --h3-font-size-min: 1.75;
  --h3-font-size-max: 2.5;
  --h3-vf-wght-multiplier-s: .5;
  --h3-vf-wght-multiplier-m: .5;
  --h3-vf-wght-multiplier-l: .5;
  /* Dropcap variables */
  --dc-line-height-min: .9;
  --dc-line-height-max: .95;
  --dc-font-size-min: 2.7;
  --dc-font-size-max: 5.25;
  /* Blockquote variables */
  --bq-line-height-min: 1.1;
  --bq-line-height-max: 1.1;
  --bq-font-size-min: 2.7;
  --bq-font-size-max: 5;
}

.clear {
  clear: both;
}

html {
  box-sizing: border-box;
  background-color: #fbfbf6;
  color: #3c3d31;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:link {
  color: #555577;
  text-decoration: underline;
}

a:visited {
  color: #555577;
  text-decoration: underline;
}

a:hover {
  color: #bb4444;
}

img {
  height: auto;
  width: 100%;
}

h2 + p {
  margin-top: 1em;
}

body {
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wght" var(--text-wght), "ital" var(--text-ital);
}

div,
p,
th,
td,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figcaption,
cite,
i,
em,
b,
strong,
button,
p:first-line,
p:first-letter {
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wght" var(--text-wght), "ital" var(--text-ital);
}

ul li {
  font-size: calc(  var(--p-font-size-min) * 1rem);
  line-height: var(--p-line-height-min);
}

p {
  --text-ital: 0;
  transition: all linear 0.2s;
  -webkit-hyphens: auto;
          hyphens: auto;
}

/* Variations and variables */
p {
  font-size: calc( var(--p-font-size-min) * 1rem);
  line-height: var(--p-line-height-min);
}

@media screen and (min-width: 24.15em) {
  p {
    line-height: calc(( var(--p-line-height-min) * 1em) + ( var(--p-line-height-max) - var(--p-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-large) - var(--bp-small))));
  }
}

@media (min-width: 60.25em) {
  p {
    font-size: calc(( var(--p-font-size-min) * 1em) + ( var(--p-font-size-max) - var(--p-font-size-min)) * ((100vw - ( var(--bp-large) * 1em)) / ( var(--bp-xlarge) - var(--bp-large))));
    line-height: var(--p-line-height-max);
  }
}

@media (min-width: 75em) {
  p {
    font-size: calc( var(--p-font-size-max) * 1em);
  }
}

/* Generic header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: all linear 0.2s;
  --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
}

h1 {
  /* Set --text-wght value multiplier */
  --text-wght: 700;
  --text-ital: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: calc( var(--h1-font-size-min) * 1em);
  line-height: var(--h1-line-height-min);
}

@media screen and (min-width: 24.15em) {
  h1 {
    line-height: calc(( var(--h1-line-height-min) * 1em) + ( var(--h1-line-height-max) - var(--h1-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h1-font-size-min) * 1em) + ( var(--h1-font-size-max) - var(--h1-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h1 {
    --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-m));
  }
}

@media screen and (min-width: 60.25em) {
  h1 {
    --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-l));
    line-height: var(--h1-line-height-max);
  }
}

@media (min-width: 75em) {
  h1 {
    font-size: calc( var(--h1-font-size-max) * 1em);
    line-height: var(--h1-line-height-max);
  }
}

h2 {
  /* Set --text-wght value multiplier */
  --text-wght: 700;
  --text-ital: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: calc( var(--h2-font-size-min) * 1em);
  line-height: var(--h2-line-height-min);
}

@media screen and (min-width: 24.15em) {
  h2 {
    line-height: calc(( var(--h2-line-height-min) * 1em) + ( var(--h2-line-height-max) - var(--h2-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h2-font-size-min) * 1em) + ( var(--h2-font-size-max) - var(--h2-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h2 {
    --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-m));
  }
}

@media (min-width: 75em) {
  h2 {
    --text-wght: 700;
    font-size: calc( var(--h2-font-size-max) * 1em);
    line-height: var(--h2-line-height-max);
  }
}

h3 {
  /* Set --text-wght value multiplier */
  --text-wght: 700;
  --text-ital: italic;
  font-family: 'Montserrat', sans-serif;
  font-size: calc( var(--h2-font-size-min) * 1em);
  line-height: var(--h2-line-height-min);
  text-align: center;
}

@media screen and (min-width: 24.15em) {
  h3 {
    line-height: calc(( var(--h3-line-height-min) * 1em) + ( var(--h3-line-height-max) - var(--h3-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h3-font-size-min) * 1em) + ( var(--h3-font-size-max) - var(--h3-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h3 {
    --text-wght: calc( var(--p-vf-wght) * var(--h3-vf-wght-multiplier-m));
  }
}

@media (min-width: 75em) {
  h3 {
    --text-wght: calc( var(--p-vf-wght) * var(--h3-vf-wght-multiplier-l));
    font-size: calc( var(--h3-font-size-max) * 1em);
    line-height: var(--h3-line-height-max);
  }
}

/*# sourceMappingURL=typography-demo43.css.map */

/*# sourceMappingURL=typography-demo43.css.map */

/*# sourceMappingURL=typography-demo43.css.map */

/*# sourceMappingURL=typography-demo43.css.map */
