/* @import must be at top of file, otherwise CSS will not work */
@import url("https://hello.myfonts.net/count/3849cd");
@font-face {
  font-family: 'Stone Humanist';
  src: url("../../fonts/3849CD_0_0.woff2") format("woff2"), url("../../fonts/3849CD_0_0.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Stone Humanist';
  src: url("../../fonts/3849CD_1_0.woff2") format("woff2"), url("../../fonts/3849CD_1_0.woff") format("woff");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Stone Humanist';
  src: url("../../fonts/3849CD_2_0.woff2") format("woff2"), url("../../fonts/3849CD_2_0.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stone Humanist';
  src: url("../../fonts/3849CD_3_0.woff2") format("woff2"), url("../../fonts/3849CD_3_0.woff") format("woff");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marvin Visions';
  src: url("../../fonts/MarvinVisionsBig-Bold.woff2"), url("../../fonts/MarvinVisionsBig-Bold.woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

/* Set custom properties for each layout feature */
:root {
  /* Breakpoint variables */
  --bp-small: 24.15;
  --bp-medium: 43.75;
  --bp-large: 60.25;
  --bp-xlarge: 75;
  /* initial values ital */
  --text-wght: 350;
  --text-ital: 0;
  /* Paragraph variables */
  --p-line-height-min: 1.15;
  --p-line-height-max: 1.5;
  --p-font-size-min: 1.0;
  --p-font-size-max: 1.25;
  --p-vf-wght: var(--text-wght);
  /* H1 variables */
  --h1-line-height-min: 1.05;
  --h1-line-height-max: 1.1;
  --h1-font-size-min: 3;
  --h1-font-size-max: 6;
  --h1-vf-wght-multiplier-s: .33;
  --h1-vf-wght-multiplier-m: .33;
  --h1-vf-wght-multiplier-l: .33;
  /* H2 variables */
  --h2-line-height-min: 1.15;
  --h2-line-height-max: 1.25;
  --h2-font-size-min: 1.75;
  --h2-font-size-max: 2.5;
  --h2-vf-wght-multiplier-s: 1.25;
  --h2-vf-wght-multiplier-m: 1.5;
  --h2-vf-wght-multiplier-l: 1.75;
  /* H3 variables */
  --h3-line-height-min: 1.15;
  --h3-line-height-max: 1.25;
  --h3-font-size-min: 1.75;
  --h3-font-size-max: 2.5;
  --h3-vf-wght-multiplier-s: .5;
  --h3-vf-wght-multiplier-m: .5;
  --h3-vf-wght-multiplier-l: .5;
  /* Dropcap variables */
  --dc-line-height-min: .9;
  --dc-line-height-max: .95;
  --dc-font-size-min: 2.7;
  --dc-font-size-max: 5.25;
  /* Blockquote variables */
  --bq-line-height-min: 1.1;
  --bq-line-height-max: 1.1;
  --bq-font-size-min: 2.7;
  --bq-font-size-max: 5;
  --stonehumanistitcstd-medium-aalt: "aalt" off;
  --stonehumanistitcstd-medium-c2sc: "c2sc" off;
  --stonehumanistitcstd-medium-case: "case" off;
  --stonehumanistitcstd-medium-frac: "frac" off;
  --stonehumanistitcstd-medium-lnum: "lnum" off;
  --stonehumanistitcstd-medium-onum: "onum" off;
  --stonehumanistitcstd-medium-ordn: "ordn" off;
  --stonehumanistitcstd-medium-smcp: "smcp" off;
  --stonehumanistitcstd-medium-sups: "sups" off;
  --stonehumanistitcstd-bold-aalt: "aalt" off;
  --stonehumanistitcstd-bold-case: "case" off;
  --stonehumanistitcstd-bold-frac: "frac" off;
  --stonehumanistitcstd-bold-lnum: "lnum" off;
  --stonehumanistitcstd-bold-onum: "onum" off;
  --stonehumanistitcstd-bold-ordn: "ordn" off;
  --stonehumanistitcstd-bold-sups: "sups" off;
  --stonehumanistitcstd-bolditalic-aalt: "aalt" off;
  --stonehumanistitcstd-bolditalic-case: "case" off;
  --stonehumanistitcstd-bolditalic-frac: "frac" off;
  --stonehumanistitcstd-bolditalic-lnum: "lnum" off;
  --stonehumanistitcstd-bolditalic-onum: "onum" off;
  --stonehumanistitcstd-bolditalic-ordn: "ordn" off;
  --stonehumanistitcstd-bolditalic-sups: "sups" off;
  --stonehumanistitcstd-mediumita-aalt: "aalt" off;
  --stonehumanistitcstd-mediumita-case: "case" off;
  --stonehumanistitcstd-mediumita-frac: "frac" off;
  --stonehumanistitcstd-mediumita-lnum: "lnum" off;
  --stonehumanistitcstd-mediumita-onum: "onum" off;
  --stonehumanistitcstd-mediumita-ordn: "ordn" off;
  --stonehumanistitcstd-mediumita-sups: "sups" off;
  --marvin-visions-big-bold-aalt: "aalt" off;
  --marvin-visions-big-bold-salt: "salt" off;
  --marvin-visions-big-bold-ss01: "ss01" off;
  --marvin-visions-big-bold-ss02: "ss02" off;
}

/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.medium-aalt {
  --stonehumanistitcstd-medium-aalt: "aalt" on;
}

.medium-c2sc {
  --stonehumanistitcstd-medium-c2sc: "c2sc" on;
}

.medium-case {
  --stonehumanistitcstd-medium-case: "case" on;
}

.medium-frac {
  --stonehumanistitcstd-medium-frac: "frac" on;
}

@supports (font-variant-numeric: diagonal-fractions) {
  .medium-frac {
    --stonehumanistitcstd-medium-frac: "____";
    font-variant-numeric: diagonal-fractions;
  }
}

.medium-lnum {
  --stonehumanistitcstd-medium-lnum: "lnum" on;
}

@supports (font-variant-numeric: lining-nums) {
  .medium-lnum {
    --stonehumanistitcstd-medium-lnum: "____";
    font-variant-numeric: lining-nums;
  }
}

.medium-onum {
  --stonehumanistitcstd-medium-onum: "onum" on;
}

@supports (font-variant-numeric: oldstyle-nums) {
  .medium-onum {
    --stonehumanistitcstd-medium-onum: "____";
    font-variant-numeric: oldstyle-nums;
  }
}

.medium-ordn {
  --stonehumanistitcstd-medium-ordn: "ordn" on;
}

@supports (font-variant-numeric: ordinal) {
  .medium-ordn {
    --stonehumanistitcstd-medium-ordn: "____";
    font-variant-numeric: ordinal;
  }
}

.medium-smcp {
  --stonehumanistitcstd-medium-smcp: "smcp" on;
}

@supports (font-variant-caps: small-caps) {
  .medium-smcp {
    --stonehumanistitcstd-medium-smcp: "____";
    font-variant-caps: small-caps;
  }
}

.medium-sups {
  --stonehumanistitcstd-medium-sups: "sups" on;
}

@supports (font-variant-position: super) {
  .medium-sups {
    --stonehumanistitcstd-medium-sups: "____";
    font-variant-position: super;
  }
}

/* Apply current state of all custom properties
   whenever a class is being applied */
.medium-aalt,
.medium-c2sc,
.medium-case,
.medium-frac,
.medium-lnum,
.medium-onum,
.medium-ordn,
.medium-smcp,
.medium-sups {
  font-feature-settings: var(--stonehumanistitcstd-medium-aalt), var(--stonehumanistitcstd-medium-c2sc), var(--stonehumanistitcstd-medium-case), var(--stonehumanistitcstd-medium-frac), var(--stonehumanistitcstd-medium-lnum), var(--stonehumanistitcstd-medium-onum), var(--stonehumanistitcstd-medium-ordn), var(--stonehumanistitcstd-medium-smcp), var(--stonehumanistitcstd-medium-sups);
}

/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.bold-aalt {
  --stonehumanistitcstd-bold-aalt: "aalt" on;
}

.bold-case {
  --stonehumanistitcstd-bold-case: "case" on;
}

.bold-frac {
  --stonehumanistitcstd-bold-frac: "frac" on;
}

@supports (font-variant-numeric: diagonal-fractions) {
  .bold-frac {
    --stonehumanistitcstd-bold-frac: "____";
    font-variant-numeric: diagonal-fractions;
  }
}

.bold-lnum {
  --stonehumanistitcstd-bold-lnum: "lnum" on;
}

@supports (font-variant-numeric: lining-nums) {
  .bold-lnum {
    --stonehumanistitcstd-bold-lnum: "____";
    font-variant-numeric: lining-nums;
  }
}

.bold-onum {
  --stonehumanistitcstd-bold-onum: "onum" on;
}

@supports (font-variant-numeric: oldstyle-nums) {
  .bold-onum {
    --stonehumanistitcstd-bold-onum: "____";
    font-variant-numeric: oldstyle-nums;
  }
}

.bold-ordn {
  --stonehumanistitcstd-bold-ordn: "ordn" on;
}

@supports (font-variant-numeric: ordinal) {
  .bold-ordn {
    --stonehumanistitcstd-bold-ordn: "____";
    font-variant-numeric: ordinal;
  }
}

.bold-sups {
  --stonehumanistitcstd-bold-sups: "sups" on;
}

@supports (font-variant-position: super) {
  .bold-sups {
    --stonehumanistitcstd-bold-sups: "____";
    font-variant-position: super;
  }
}

/* Apply current state of all custom properties
   whenever a class is being applied */
.bold-aalt,
.bold-case,
.bold-frac,
.bold-lnum,
.bold-onum,
.bold-ordn,
.bold-sups {
  font-feature-settings: var(--stonehumanistitcstd-bold-aalt), var(--stonehumanistitcstd-bold-case), var(--stonehumanistitcstd-bold-frac), var(--stonehumanistitcstd-bold-lnum), var(--stonehumanistitcstd-bold-onum), var(--stonehumanistitcstd-bold-ordn), var(--stonehumanistitcstd-bold-sups);
}

/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.bolditalic-aalt {
  --stonehumanistitcstd-bolditalic-aalt: "aalt" on;
}

.bolditalic-case {
  --stonehumanistitcstd-bolditalic-case: "case" on;
}

.bolditalic-frac {
  --stonehumanistitcstd-bolditalic-frac: "frac" on;
}

@supports (font-variant-numeric: diagonal-fractions) {
  .bolditalic-frac {
    --stonehumanistitcstd-bolditalic-frac: "____";
    font-variant-numeric: diagonal-fractions;
  }
}

.bolditalic-lnum {
  --stonehumanistitcstd-bolditalic-lnum: "lnum" on;
}

@supports (font-variant-numeric: lining-nums) {
  .bolditalic-lnum {
    --stonehumanistitcstd-bolditalic-lnum: "____";
    font-variant-numeric: lining-nums;
  }
}

.bolditalic-onum {
  --stonehumanistitcstd-bolditalic-onum: "onum" on;
}

@supports (font-variant-numeric: oldstyle-nums) {
  .bolditalic-onum {
    --stonehumanistitcstd-bolditalic-onum: "____";
    font-variant-numeric: oldstyle-nums;
  }
}

.bolditalic-ordn {
  --stonehumanistitcstd-bolditalic-ordn: "ordn" on;
}

@supports (font-variant-numeric: ordinal) {
  .bolditalic-ordn {
    --stonehumanistitcstd-bolditalic-ordn: "____";
    font-variant-numeric: ordinal;
  }
}

.bolditalic-sups {
  --stonehumanistitcstd-bolditalic-sups: "sups" on;
}

@supports (font-variant-position: super) {
  .bolditalic-sups {
    --stonehumanistitcstd-bolditalic-sups: "____";
    font-variant-position: super;
  }
}

/* Apply current state of all custom properties
   whenever a class is being applied */
.bolditalic-aalt,
.bolditalic-case,
.bolditalic-frac,
.bolditalic-lnum,
.bolditalic-onum,
.bolditalic-ordn,
.bolditalic-sups {
  font-feature-settings: var(--stonehumanistitcstd-bolditalic-aalt), var(--stonehumanistitcstd-bolditalic-case), var(--stonehumanistitcstd-bolditalic-frac), var(--stonehumanistitcstd-bolditalic-lnum), var(--stonehumanistitcstd-bolditalic-onum), var(--stonehumanistitcstd-bolditalic-ordn), var(--stonehumanistitcstd-bolditalic-sups);
}

/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.mediumita-aalt {
  --stonehumanistitcstd-mediumita-aalt: "aalt" on;
}

.mediumita-case {
  --stonehumanistitcstd-mediumita-case: "case" on;
}

.mediumita-frac {
  --stonehumanistitcstd-mediumita-frac: "frac" on;
}

@supports (font-variant-numeric: diagonal-fractions) {
  .mediumita-frac {
    --stonehumanistitcstd-mediumita-frac: "____";
    font-variant-numeric: diagonal-fractions;
  }
}

.mediumita-lnum {
  --stonehumanistitcstd-mediumita-lnum: "lnum" on;
}

@supports (font-variant-numeric: lining-nums) {
  .mediumita-lnum {
    --stonehumanistitcstd-mediumita-lnum: "____";
    font-variant-numeric: lining-nums;
  }
}

.mediumita-onum {
  --stonehumanistitcstd-mediumita-onum: "onum" on;
}

@supports (font-variant-numeric: oldstyle-nums) {
  .mediumita-onum {
    --stonehumanistitcstd-mediumita-onum: "____";
    font-variant-numeric: oldstyle-nums;
  }
}

.mediumita-ordn {
  --stonehumanistitcstd-mediumita-ordn: "ordn" on;
}

@supports (font-variant-numeric: ordinal) {
  .mediumita-ordn {
    --stonehumanistitcstd-mediumita-ordn: "____";
    font-variant-numeric: ordinal;
  }
}

.mediumita-sups {
  --stonehumanistitcstd-mediumita-sups: "sups" on;
}

@supports (font-variant-position: super) {
  .mediumita-sups {
    --stonehumanistitcstd-mediumita-sups: "____";
    font-variant-position: super;
  }
}

/* Apply current state of all custom properties
   whenever a class is being applied */
.mediumita-aalt,
.mediumita-case,
.mediumita-frac,
.mediumita-lnum,
.mediumita-onum,
.mediumita-ordn,
.mediumita-sups {
  font-feature-settings: var(--stonehumanistitcstd-mediumita-aalt), var(--stonehumanistitcstd-mediumita-case), var(--stonehumanistitcstd-mediumita-frac), var(--stonehumanistitcstd-mediumita-lnum), var(--stonehumanistitcstd-mediumita-onum), var(--stonehumanistitcstd-mediumita-ordn), var(--stonehumanistitcstd-mediumita-sups);
}

.clear {
  clear: both;
}

html {
  box-sizing: border-box;
  background-color: #fbfbf6;
  color: #3c3d31;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:link {
  color: #555577;
  text-decoration: underline;
}

a:visited {
  color: #555577;
  text-decoration: underline;
}

a:hover {
  color: #bb4444;
}

img {
  height: auto;
  width: 100%;
}

h2 + p {
  margin-top: 1em;
}

body {
  font-family: "Stone Humanist", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wght" var(--text-wght), "ital" var(--text-ital);
}

div,
p,
th,
td,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figcaption,
cite,
i,
em,
b,
strong,
button,
p:first-line,
p:first-letter {
  font-family: "Stone Humanist", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wght" var(--text-wght), "ital" var(--text-ital);
}

ul li {
  font-size: calc(  var(--p-font-size-min) * 1rem);
  line-height: var(--p-line-height-min);
}

p {
  --text-ital: 0;
  transition: all linear 0.2s;
  -webkit-hyphens: auto;
          hyphens: auto;
}

/* Variations and variables */
p {
  font-size: calc( var(--p-font-size-min) * 1em);
  line-height: var(--p-line-height-min);
}

@media screen and (min-width: 24.15em) {
  p {
    line-height: calc(( var(--p-line-height-min) * 1em) + ( var(--p-line-height-max) - var(--p-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-large) - var(--bp-small))));
  }
}

@media (min-width: 60.25em) {
  p {
    font-size: calc(( var(--p-font-size-min) * 1em) + ( var(--p-font-size-max) - var(--p-font-size-min)) * ((100vw - ( var(--bp-large) * 1em)) / ( var(--bp-xlarge) - var(--bp-large))));
    line-height: var(--p-line-height-max);
  }
}

@media (min-width: 75em) {
  p {
    font-size: calc( var(--p-font-size-max) * 1em);
  }
}

/* Generic header styles */
h1,
h2,
h3 {
  font-family: "Marvin Visions", Helvetica, Arial, sans-serif;
  font-weight: normal;
  transition: all linear 0.2s;
  --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
}

h4,
h5,
h6 {
  font-family: "Stone Humanist", Helvetica, Arial, sans-serif;
  font-weight: normal;
  transition: all linear 0.2s;
  --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
}

h1 {
  /* Set --text-wght value multiplier */
  --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
  --text-ital: 0;
  font-family: 'Marvin Visions', Helvetica, Arial, sans-serif;
  font-size: calc( var(--h1-font-size-min) * 1em);
  line-height: var(--h1-line-height-min);
}

@media screen and (min-width: 24.15em) {
  h1 {
    line-height: calc(( var(--h1-line-height-min) * 1em) + ( var(--h1-line-height-max) - var(--h1-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h1-font-size-min) * 1em) + ( var(--h1-font-size-max) - var(--h1-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h1 {
    --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-m));
  }
}

@media screen and (min-width: 60.25em) {
  h1 {
    --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-l));
    line-height: var(--h1-line-height-max);
  }
}

@media (min-width: 75em) {
  h1 {
    font-size: calc( var(--h1-font-size-max) * 1em);
    line-height: var(--h1-line-height-max);
  }
}

h2 {
  /* Set --text-wght value multiplier */
  --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-s));
  --text-ital: 0;
  font-family: "Marvin Visions", Helvetica, Arial, sans-serif;
  font-size: calc( var(--h2-font-size-min) * 1em);
  line-height: var(--h2-line-height-min);
}

@media screen and (min-width: 24.15em) {
  h2 {
    line-height: calc(( var(--h2-line-height-min) * 1em) + ( var(--h2-line-height-max) - var(--h2-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h2-font-size-min) * 1em) + ( var(--h2-font-size-max) - var(--h2-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h2 {
    --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-m));
  }
}

@media (min-width: 75em) {
  h2 {
    --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-l));
    font-size: calc( var(--h2-font-size-max) * 1em);
    line-height: var(--h2-line-height-max);
  }
}

h3 {
  /* Set --text-wght value multiplier */
  --text-wght: calc( var(--p-vf-wght) * var(--h3-vf-wght-multiplier-s));
  --text-ital: 1;
  font-family: "Stone Humanist", Helvetica, Arial, sans-serif;
  font-size: calc( var(--h2-font-size-min) * 1em);
  line-height: var(--h2-line-height-min);
  text-align: center;
}

@media screen and (min-width: 24.15em) {
  h3 {
    line-height: calc(( var(--h3-line-height-min) * 1em) + ( var(--h3-line-height-max) - var(--h3-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h3-font-size-min) * 1em) + ( var(--h3-font-size-max) - var(--h3-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h3 {
    --text-wght: calc( var(--p-vf-wght) * var(--h3-vf-wght-multiplier-m));
  }
}

@media (min-width: 75em) {
  h3 {
    --text-wght: calc( var(--p-vf-wght) * var(--h3-vf-wght-multiplier-l));
    font-size: calc( var(--h3-font-size-max) * 1em);
    line-height: var(--h3-line-height-max);
  }
}

/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.marvin-visions-big-bold-aalt {
  --marvin-visions-big-bold-aalt: "aalt" on;
}

.marvin-visions-big-bold-salt {
  --marvin-visions-big-bold-salt: "salt" on;
}

.marvin-visions-big-bold-ss01 {
  --marvin-visions-big-bold-ss01: "ss01" on;
}

.marvin-visions-big-bold-ss02 {
  --marvin-visions-big-bold-ss02: "ss02" on;
}

/* Apply current state of all custom properties
   whenever a class is being applied */
.marvin-visions-big-bold-aalt,
.marvin-visions-big-bold-salt,
.marvin-visions-big-bold-ss01,
.marvin-visions-big-bold-ss02 {
  font-feature-settings: var(--marvin-visions-big-bold-aalt), var(--marvin-visions-big-bold-salt), var(--marvin-visions-big-bold-ss01), var(--marvin-visions-big-bold-ss02);
}

/*# sourceMappingURL=typography-demo34.css.map */

/*# sourceMappingURL=typography-demo34.css.map */

/*# sourceMappingURL=typography-demo34.css.map */
