@import url("https://fonts.googleapis.com/css?family=Bungee");
@font-face {
  font-family: 'Recoleta';
  src: url("../../fonts/RecoletaMedium.woff2") format("woff2"), url("../../fonts/RecoletaMedium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url("../../fonts/RecoletaBold.woff2") format("woff2"), url("../../fonts/RecoletaBold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

/* Set custom properties for each layout feature */
:root {
  /* Breakpoint variables */
  --bp-small: 24.15;
  --bp-medium: 43.75;
  --bp-large: 60.25;
  --bp-xlarge: 75;
  /* initial values ital */
  --text-wght: 350;
  --text-ital: 0;
  /* Paragraph variables */
  --p-line-height-min: 1.15;
  --p-line-height-max: 1.5;
  --p-font-size-min: 1.0;
  --p-font-size-max: 1.25;
  --p-vf-wght: var(--text-wght);
  /* H1 variables */
  --h1-line-height-min: 1.05;
  --h1-line-height-max: 1.1;
  --h1-font-size-min: 3;
  --h1-font-size-max: 6;
  --h1-vf-wght-multiplier-s: .33;
  --h1-vf-wght-multiplier-m: .33;
  --h1-vf-wght-multiplier-l: .33;
  /* H2 variables */
  --h2-line-height-min: 1.15;
  --h2-line-height-max: 1.25;
  --h2-font-size-min: 1.75;
  --h2-font-size-max: 2.5;
  --h2-vf-wght-multiplier-s: 1.25;
  --h2-vf-wght-multiplier-m: 1.5;
  --h2-vf-wght-multiplier-l: 1.75;
  /* H3 variables */
  --h3-line-height-min: 1.15;
  --h3-line-height-max: 1.25;
  --h3-font-size-min: 1.75;
  --h3-font-size-max: 2.5;
  --h3-vf-wght-multiplier-s: .5;
  --h3-vf-wght-multiplier-m: .5;
  --h3-vf-wght-multiplier-l: .5;
  /* Dropcap variables */
  --dc-line-height-min: .9;
  --dc-line-height-max: .95;
  --dc-font-size-min: 2.7;
  --dc-font-size-max: 5.25;
  /* Blockquote variables */
  --bq-line-height-min: 1.1;
  --bq-line-height-max: 1.1;
  --bq-font-size-min: 2.7;
  --bq-font-size-max: 5;
  --medium-aalt: "aalt" off;
  --medium-case: "case" off;
  --medium-frac: "frac" off;
  --medium-ordn: "ordn" off;
  --medium-salt: "salt" off;
  --medium-ss01: "ss01" off;
  --bold-aalt: "aalt" off;
  --bold-case: "case" off;
  --bold-frac: "frac" off;
  --bold-ordn: "ordn" off;
  --bold-salt: "salt" off;
  --bold-ss01: "ss01" off;
}

/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.medium-aalt {
  --medium-aalt: "aalt" on;
}

.medium-case {
  --medium-case: "case" on;
}

.medium-frac {
  --medium-frac: "frac" on;
}

@supports (font-variant-numeric: diagonal-fractions) {
  .medium-frac {
    --medium-frac: "____";
    font-variant-numeric: diagonal-fractions;
  }
}

.medium-ordn {
  --medium-ordn: "ordn" on;
}

@supports (font-variant-numeric: ordinal) {
  .medium-ordn {
    --medium-ordn: "____";
    font-variant-numeric: ordinal;
  }
}

.medium-salt {
  --medium-salt: "salt" on;
}

.medium-ss01 {
  --medium-ss01: "ss01" on;
}

/* Apply current state of all custom properties
   whenever a class is being applied */
.medium-aalt,
.medium-case,
.medium-frac,
.medium-ordn,
.medium-salt,
.medium-ss01 {
  font-feature-settings: var(--medium-aalt), var(--medium-case), var(--medium-frac), var(--medium-ordn), var(--medium-salt), var(--medium-ss01);
}

/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.bold-aalt {
  --bold-aalt: "aalt" on;
}

.bold-case {
  --bold-case: "case" on;
}

.bold-frac {
  --bold-frac: "frac" on;
}

@supports (font-variant-numeric: diagonal-fractions) {
  .bold-frac {
    --bold-frac: "____";
    font-variant-numeric: diagonal-fractions;
  }
}

.bold-ordn {
  --bold-ordn: "ordn" on;
}

@supports (font-variant-numeric: ordinal) {
  .bold-ordn {
    --bold-ordn: "____";
    font-variant-numeric: ordinal;
  }
}

.bold-salt {
  --bold-salt: "salt" on;
}

.bold-ss01 {
  --bold-ss01: "ss01" on;
}

/* Apply current state of all custom properties
   whenever a class is being applied */
.bold-aalt,
.bold-case,
.bold-frac,
.bold-ordn,
.bold-salt,
.bold-ss01 {
  font-feature-settings: var(--bold-aalt), var(--bold-case), var(--bold-frac), var(--bold-ordn), var(--bold-salt), var(--bold-ss01);
}

.clear {
  clear: both;
}

html {
  box-sizing: border-box;
  background-color: #fbfbf6;
  color: #3c3d31;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:link {
  color: #555577;
  text-decoration: underline;
}

a:visited {
  color: #555577;
  text-decoration: underline;
}

a:hover {
  color: #bb4444;
}

img {
  height: auto;
  width: 100%;
}

h2 + p {
  margin-top: 1em;
}

body {
  font-family: "Recoleta", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wght" var(--text-wght), "ital" var(--text-ital);
}

div,
p,
th,
td,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
figcaption,
cite,
i,
em,
b,
strong,
button,
p:first-line,
p:first-letter {
  font-family: "Recoleta", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wght" var(--text-wght), "ital" var(--text-ital);
}

ul li {
  font-size: calc(  var(--p-font-size-min) * 1rem);
  line-height: var(--p-line-height-min);
}

p {
  --text-ital: 0;
  transition: all linear 0.2s;
  -webkit-hyphens: auto;
          hyphens: auto;
}

/* Variations and variables */
p {
  font-size: calc( var(--p-font-size-min) * 1em);
  line-height: var(--p-line-height-min);
}

@media screen and (min-width: 24.15em) {
  p {
    line-height: calc(( var(--p-line-height-min) * 1em) + ( var(--p-line-height-max) - var(--p-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-large) - var(--bp-small))));
  }
}

@media (min-width: 60.25em) {
  p {
    font-size: calc(( var(--p-font-size-min) * 1em) + ( var(--p-font-size-max) - var(--p-font-size-min)) * ((100vw - ( var(--bp-large) * 1em)) / ( var(--bp-xlarge) - var(--bp-large))));
    line-height: var(--p-line-height-max);
  }
}

@media (min-width: 75em) {
  p {
    font-size: calc( var(--p-font-size-max) * 1em);
  }
}

/* Generic header styles */
h1,
h2,
h3 {
  font-family: 'Bungee', Helvetica, Arial, sans-serif;
  font-weight: normal;
  transition: all linear 0.2s;
  --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
}

h4,
h5,
h6 {
  font-family: 'Bungee', Helvetica, Arial, sans-serif;
  font-weight: normal;
  transition: all linear 0.2s;
  --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
}

h1 {
  /* Set --text-wght value multiplier */
  --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s));
  --text-ital: 0;
  font-family: 'Bungee', Helvetica, Arial, sans-serif;
  font-size: calc( var(--h1-font-size-min) * 1em);
  line-height: var(--h1-line-height-min);
}

@media screen and (min-width: 24.15em) {
  h1 {
    line-height: calc(( var(--h1-line-height-min) * 1em) + ( var(--h1-line-height-max) - var(--h1-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h1-font-size-min) * 1em) + ( var(--h1-font-size-max) - var(--h1-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h1 {
    --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-m));
  }
}

@media screen and (min-width: 60.25em) {
  h1 {
    --text-wght: calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-l));
    line-height: var(--h1-line-height-max);
  }
}

@media (min-width: 75em) {
  h1 {
    font-size: calc( var(--h1-font-size-max) * 1em);
    line-height: var(--h1-line-height-max);
  }
}

h2 {
  /* Set --text-wght value multiplier */
  --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-s));
  --text-ital: 0;
  font-family: 'Bungee', Helvetica, Arial, sans-serif;
  font-size: calc( var(--h2-font-size-min) * 1em);
  line-height: var(--h2-line-height-min);
}

@media screen and (min-width: 24.15em) {
  h2 {
    line-height: calc(( var(--h2-line-height-min) * 1em) + ( var(--h2-line-height-max) - var(--h2-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h2-font-size-min) * 1em) + ( var(--h2-font-size-max) - var(--h2-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h2 {
    --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-m));
  }
}

@media (min-width: 75em) {
  h2 {
    --text-wght: calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-l));
    font-size: calc( var(--h2-font-size-max) * 1em);
    line-height: var(--h2-line-height-max);
  }
}

h3 {
  /* Set --text-wght value multiplier */
  --text-wght: calc( var(--p-vf-wght) * var(--h3-vf-wght-multiplier-s));
  --text-ital: 1;
  font-family: 'Bungee', Helvetica, Arial, sans-serif;
  font-size: calc( var(--h2-font-size-min) * 1em);
  line-height: var(--h2-line-height-min);
  text-align: center;
}

@media screen and (min-width: 24.15em) {
  h3 {
    line-height: calc(( var(--h3-line-height-min) * 1em) + ( var(--h3-line-height-max) - var(--h3-line-height-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
    font-size: calc(( var(--h3-font-size-min) * 1em) + ( var(--h3-font-size-max) - var(--h3-font-size-min)) * ((100vw - ( var(--bp-small) * 1em)) / ( var(--bp-xlarge) - var(--bp-small))));
  }
}

@media screen and (min-width: 43.75em) {
  h3 {
    --text-wght: calc( var(--p-vf-wght) * var(--h3-vf-wght-multiplier-m));
  }
}

@media (min-width: 75em) {
  h3 {
    --text-wght: calc( var(--p-vf-wght) * var(--h3-vf-wght-multiplier-l));
    font-size: calc( var(--h3-font-size-max) * 1em);
    line-height: var(--h3-line-height-max);
  }
}

/*# sourceMappingURL=typography-bungee-recoleta-medium-bold.css.map */

/*# sourceMappingURL=typography-bungee-recoleta-medium-bold.css.map */

/*# sourceMappingURL=typography-bungee-recoleta-medium-bold.css.map */
